@page "/add-user"
@inject IToastService ToastService
@inject IUserApiClient UserApiClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@attribute [Authorize]
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">New User</h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->
                <!--begin::Search Form-->
                <div class="d-flex align-items-center" id="kt_subheader_search">
                    <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Enter user details and submit</span>
                </div>
                <!--end::Search Form-->
            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Button-->
                <a href="user" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">Back</a>
                <!--end::Button-->
                <!--begin::Dropdown-->
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">Submit</button>
                    <button type="button" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right">
                        <ul class="navi py-5">
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-writing"></i>
                                    </span>
                                    <span class="navi-text">Save &amp; continue</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-medical-records"></i>
                                    </span>
                                    <span class="navi-text">Save &amp; add new</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-hourglass-1"></i>
                                    </span>
                                    <span class="navi-text">Save &amp; exit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom card-transparent">
                <div class="card-body p-0">
                    <!--begin::Wizard-->
                    <div class="wizard wizard-4">
                        <!--begin::Wizard Nav-->
                        <div class="wizard-nav">
                            <div class="wizard-steps" data-total-steps="3">
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(step1 ? "current": "")">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">1</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Profile</div>
                                            <div class="wizard-desc">User's Personal Information</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(step2 ? "current": "")">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">2</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Account</div>
                                            <div class="wizard-desc">User's Account &amp; Settings</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(step3 ? "current": "")">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">3</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Submission</div>
                                            <div class="wizard-desc">Review and Submit</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Wizard Nav-->
                        <!--begin::Card-->
                        <div class="card card-custom card-shadowless rounded-top-0">
                            <!--begin::Body-->
                            <div class="card-body p-0">
                                <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                    <div class="col-xl-12 col-xxl-10">
                                        <!--begin::Wizard Form-->
                                        <EditForm Model="register" OnValidSubmit="Create">
                                            <DataAnnotationsValidator></DataAnnotationsValidator>
                                            <ValidationSummary></ValidationSummary>
                                            <div class="row justify-content-center">
                                                <div class="col-xl-9">
                                                    <!--begin::Wizard Step 1-->
                                                    @if (step1)
                                                    {
                                                        <div class="my-5 step">
                                                            <h5 class="text-dark font-weight-bold mb-10">User's Profile Details:</h5>
                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label text-left">Avatar</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <div class="image-input image-input-outline" id="kt_user_add_avatar">
                                                                        <div class="image-input-wrapper" style="background-image: url(assets/media/users/100_6.jpg)"></div>
                                                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                                                            <input type="hidden" name="profile_avatar_remove" />
                                                                        </label>
                                                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="FirstName">First Name</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <InputText class="form-control form-control-solid form-control-lg" id="FirstName" @bind-Value="@register.FirstName"></InputText>
                                                                    <ValidationMessage For="()=> register.FirstName"></ValidationMessage>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="LastName">Last Name</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <InputText class="form-control form-control-solid form-control-lg"
                                                                               id="LastName" @bind-Value="@register.LastName"></InputText>
                                                                    <ValidationMessage For="()=> register.LastName"></ValidationMessage>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="Dob">Date of Birth</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <InputDate class="form-control form-control-solid form-control-lg"
                                                                               id="Dob" @bind-Value="@register.Dob"></InputDate>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="PhoneNumber">Contact Phone</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <div class="input-group input-group-solid input-group-lg">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">
                                                                                <i class="la la-phone"></i>
                                                                            </span>
                                                                        </div>
                                                                        <InputText type="text"
                                                                                   class="form-control form-control-solid form-control-lg"
                                                                                   id="PhoneNumber" @bind-Value="@register.PhoneNumber" placeholder="Phone" />
                                                                        <ValidationMessage For="()=> register.PhoneNumber"></ValidationMessage>
                                                                    </div>
                                                                    <span class="form-text text-muted">Enter valid VN phone number(e.g: 0965654078).</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="Email">Email Address</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <div class="input-group input-group-solid input-group-lg">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">
                                                                                <i class="la la-at"></i>
                                                                            </span>
                                                                        </div>
                                                                        <InputText type="email"
                                                                                   class="form-control form-control-solid form-control-lg"
                                                                                   id="Email" @bind-Value="@register.Email"></InputText>
                                                                        <ValidationMessage For="()=> register.Email"></ValidationMessage>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                    <!--end::Wizard Step 1-->
                                                    <!--begin::Wizard Step 2-->
                                                    @if (step2)
                                                    {
                                                        <div class="my-5 step">
                                                            <h5 class="text-dark font-weight-bold mb-10 mt-5">User's Account Details</h5>
                                                            <!--begin::Group-->

                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="UserName">Tên tài khoản</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <InputText class="form-control form-control-solid form-control-lg"
                                                                               id="UserName" @bind-Value="@register.UserName"></InputText>
                                                                    <ValidationMessage For="()=> register.UserName"></ValidationMessage>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="Password">Mật khẩu</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <InputText class="form-control form-control-solid form-control-lg" type="password"
                                                                               id="Password" @bind-Value="@register.Password"></InputText>
                                                                    <ValidationMessage For="()=> register.Password"></ValidationMessage>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label" for="ConfirmPassword">Nhập lại mật khẩu</label>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <InputText class="form-control form-control-solid form-control-lg" type="password"
                                                                               id="ConfirmPassword" @bind-Value="@register.ConfirmPassword"></InputText>
                                                                    <ValidationMessage For="()=> register.ConfirmPassword"></ValidationMessage>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <div class="separator separator-dashed my-10"></div>
                                                            <h5 class="text-dark font-weight-bold mb-10">User's Account Settings</h5>
                                                            <!--begin::Group-->
                                                            <div class="form-group row">
                                                                <label class="col-form-label col-xl-3 col-lg-3">Login verification</label>
                                                                <div class="col-xl-9 col-lg-9">
                                                                    <button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Setup login verification</button>
                                                                    <div class="form-text text-muted mt-3">
                                                                        After you log in, you will be asked for additional information to confirm your identity and protect your account from being compromised.
                                                                        <a href="#">Learn more</a>.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row">
                                                                <label class="col-form-label col-xl-3 col-lg-3">Password reset verification</label>
                                                                <div class="col-xl-9 col-lg-9">
                                                                    <div class="checkbox-inline">
                                                                        <label class="checkbox mb-2">
                                                                            <input type="checkbox" />
                                                                            <span></span>Require personal information to reset your password.
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-text text-muted">
                                                                        For extra security, this requires you to confirm your email or phone number when you reset your password.
                                                                        <a href="#" class="font-weight-bold">Learn more</a>.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row mt-10">
                                                                <label class="col-xl-3 col-lg-3"></label>
                                                                <div class="col-xl-9 col-lg-9">
                                                                    <button type="button" class="btn btn-light-danger font-weight-bold btn-sm">Deactivate your account ?</button>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                        </div>
                                                    }

                                                    <!--end::Wizard Step 2-->
                                                    <!--begin::Wizard Step 4-->
                                                    @if (step3)
                                                    {
                                                        <div class="my-5 step">
                                                            <h5 class="mb-10 font-weight-bold text-dark">Review your Details and Submit</h5>
                                                            <!--begin::Item-->
                                                            <div class="border-bottom mb-5 pb-5">
                                                                <div class="font-weight-bolder mb-3">Your Account Details:</div>
                                                                <div class="line-height-xl">
                                                                    John Wick
                                                                    <br />Phone: +61412345678
                                                                    <br />Email: johnwick@reeves.com
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="border-bottom mb-5 pb-5">
                                                                <div class="font-weight-bolder mb-3">Your Address Details:</div>
                                                                <div class="line-height-xl">
                                                                    Address Line 1
                                                                    <br />Address Line 2
                                                                    <br />Melbourne 3000, VIC, Australia
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div>
                                                                <div class="font-weight-bolder">Payment Details:</div>
                                                                <div class="line-height-xl">
                                                                    Card Number: xxxx xxxx xxxx 1111
                                                                    <br />Card Name: John Wick
                                                                    <br />Card Expiry: 01/21
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                        </div>
                                                    }

                                                    <!--end::Wizard Step 4-->
                                                    <!--begin::Wizard Actions-->
                                                    <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                                        <div class="mr-2">
                                                            @if (!step1)
                                                            {
                                                                <button type="button" class="btn btn-light-primary font-weight-bolder px-9 py-4" @onclick="HandlePrevious">Previous</button>
                                                            }
                                                        </div>
                                                        <div>
                                                            @if (step3)
                                                            {
                                                                <button type="submit" class="btn btn-success font-weight-bolder px-9 py-4">Submit</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-primary font-weight-bolder px-9 py-4" @onclick="HandleNext">Next</button>
                                                            }
                                                        </div>
                                                    </div>
                                                    <!--end::Wizard Actions-->
                                                </div>
                                            </div>
                                        </EditForm>
                                        <!--end::Wizard Form-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Wizard-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@code {

    private RegisterRequest register;

    bool step1 = true, step2 = false, step3 = false;

    protected override void OnInitialized()
    {
        register = new RegisterRequest();
        base.OnInitialized();
    }

    private async void Create(EditContext context)
    {
        var result = await UserApiClient.Register(register);
        if (result)
        {
            ToastService.ShowSuccess($"Tạo User", $"Thành công");
            NavigationManager.NavigateTo("/user");
        }
        else
        {
            ToastService.ShowError("error!!", "Thất bại");
        }
    }

    private void HandlePrevious()
    {
        if (step3)
        {
            step2 = true;
            step3 = false;
            step1 = false;
        }
        else
        {
            step1 = true;
            step2 = false;
            step3 = false;
        }
    }
    private void HandleNext()
    {
        if (step1)
        {
            step2 = true;
            step3 = false;
            step1 = false;
        }
        else
        {
            if (register.Password != register.ConfirmPassword || string.IsNullOrWhiteSpace(register.Password))
            {
                ToastService.ShowInfo("Mật khẩu không giống nhau, không được để trống", "Cảnh báo");
                return;
            }
            step3 = true;
            step2 = false;
            step1 = false;
        }
    }
}
