@page "/add-product"
@inject IToastService ToastService
@inject IProductApiClient ProductApiClient
@inject NavigationManager NavigationManager
@attribute [Authorize]
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Sản phẩm mới</h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->
                <!--begin::Search Form-->
                <div class="d-flex align-items-center" id="kt_subheader_search">
                    <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Nhập thông tin sản phẩm</span>
                </div>
                <!--end::Search Form-->
            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Button-->
                <a href="product" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">Back</a>
                <!--end::Button-->
                <!--begin::Dropdown-->
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">Submit</button>
                    <button type="button" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right">
                        <ul class="navi py-5">
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-writing"></i>
                                    </span>
                                    <span class="navi-text">Save &amp; continue</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-medical-records"></i>
                                    </span>
                                    <span class="navi-text">Save &amp; add new</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-hourglass-1"></i>
                                    </span>
                                    <span class="navi-text">Save &amp; exit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom card-transparent">
                <div class="card-body">
                    <!--begin::Card-->
                    <div class="card card-custom card-shadowless">
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Wizard Form-->
                            <EditForm Model="product" OnValidSubmit="OnCreate">
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <ValidationSummary></ValidationSummary>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <InputText type="text" class="form-control" id="name" @bind-Value="@product.Name"></InputText>
                                    <ValidationMessage For="()=>product.Name"></ValidationMessage>
                                    <small id="" class="form-text text-muted">Nhập tên sản phẩm</small>
                                </div>
                                <div class="form-group">
                                    <label for="Price">Price</label>
                                    <InputNumber class="form-control" id="Price" @bind-Value="@product.Price"></InputNumber>
                                    <ValidationMessage For="()=>product.Price"></ValidationMessage>
                                    <small id="" class="form-text text-muted">Nhập giá</small>
                                </div>
                                <div class="form-group">
                                    <label for="Quantity">Quantity</label>
                                    <InputNumber class="form-control" id="Quantity" @bind-Value="@product.Quantity"></InputNumber>
                                    <ValidationMessage For="()=>product.Quantity"></ValidationMessage>
                                    <small id="" class="form-text text-muted">Nhập giá</small>
                                </div>
                                <div class="form-group">
                                    <label for="Description">Description</label>
                                    <InputText class="form-control" id="Description" @bind-Value="@product.Description"></InputText>
                                    <ValidationMessage For="()=>product.Description"></ValidationMessage>
                                    <small id="" class="form-text text-muted">Nhập mô tả sản phẩm</small>
                                </div>
                                <div class="form-group">
                                    <label>Image: </label>
                                    <BlazorInputFile.InputFile OnChange="HandleFileSelection" />
                                    <img src="@imagePath" width="100" height="100" />
                                </div>
                                <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>

                            </EditForm>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@code {
    private ProductRequest product;
    private string imagePath;

    protected override void OnInitialized()
    {
        product = new ProductRequest();
        base.OnInitialized();
    }

    private async void OnCreate(EditContext context)
    {
        var result = await ProductApiClient.CreateProduct(product);
        if (result)
        {
            ToastService.ShowSuccess($"Tạo sản phẩm thành công", $"Chúc mừng");
            NavigationManager.NavigateTo($"/product");
        }
        else
        {
            ToastService.ShowError("No task create!!", "Thất bại");
        }
    }

    public async Task HandleFileSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            using (var memorystream = new MemoryStream())
            {
                await file.Data.CopyToAsync(memorystream);
                product.ImageByte = memorystream.ToArray();
                imagePath = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(memorystream.ToArray()));
            }
        }
    }
}
