@page "/checkout"
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Page Layout-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-column offcanvas-mobile w-300px w-xl-325px" id="kt_profile_aside">
                    <!--begin::List Widget 17-->
                    <div class="card card-custom gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Books to Pickup</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">24 Books to Return</span>
                            </h3>
                            <div class="card-toolbar">
                                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ki ki-bold-more-hor"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul class="navi navi-hover py-5">
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-drop"></i>
                                                    </span>
                                                    <span class="navi-text">New Group</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-list-3"></i>
                                                    </span>
                                                    <span class="navi-text">Contacts</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-rocket-1"></i>
                                                    </span>
                                                    <span class="navi-text">Groups</span>
                                                    <span class="navi-link-badge">
                                                        <span class="label label-light-primary label-inline font-weight-bold">new</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-bell-2"></i>
                                                    </span>
                                                    <span class="navi-text">Calls</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-gear"></i>
                                                    </span>
                                                    <span class="navi-text">Settings</span>
                                                </a>
                                            </li>
                                            <li class="navi-separator my-3"></li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-magnifier-tool"></i>
                                                    </span>
                                                    <span class="navi-text">Help</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-bell-2"></i>
                                                    </span>
                                                    <span class="navi-text">Privacy</span>
                                                    <span class="navi-link-badge">
                                                        <span class="label label-light-danger label-rounded font-weight-bold">5</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::Container-->
                            <div>
                                <!--begin::Item-->
                                <div class="d-flex align-items-center mb-8">
                                    <!--begin::Symbol-->
                                    <div class="symbol mr-5 pt-1">
                                        <div class="symbol-label min-w-65px min-h-100px" style="background-image: url('assets/media/books/4.png')"></div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Info-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Title-->
                                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">Darius The Great</a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <span class="text-muted font-weight-bold font-size-sm pb-4">
                                            Amazing Short Story About
                                            <br />Darius greatness
                                        </span>
                                        <!--end::Text-->
                                        <!--begin::Action-->
                                        <div>
                                            <button type="button" class="btn btn-light font-weight-bolder font-size-sm py-2">Book Now</button>
                                        </div>
                                        <!--end::Action-->
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="d-flex align-items-center mb-8">
                                    <!--begin::Symbol-->
                                    <div class="symbol mr-5 pt-1">
                                        <div class="symbol-label min-w-65px min-h-100px" style="background-image: url('assets/media/books/12.png')"></div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Info-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Title-->
                                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">Wild Blues</a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <span class="text-muted font-weight-bold font-size-sm pb-4">
                                            Amazing Short Story About
                                            <br />Darius greatness
                                        </span>
                                        <!--end::Text-->
                                        <!--begin::Action-->
                                        <div>
                                            <button type="button" class="btn btn-light font-weight-bolder font-size-sm py-2">Book Now</button>
                                        </div>
                                        <!--end::Action-->
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Symbol-->
                                    <div class="symbol mr-5 pt-1">
                                        <div class="symbol-label min-w-65px min-h-100px" style="background-image: url('assets/media/books/13.png')"></div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Info-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Title-->
                                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">Simple Thinking</a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <span class="text-muted font-weight-bold font-size-sm pb-4">
                                            Amazing Short Story About
                                            <br />Darius greatness
                                        </span>
                                        <!--end::Text-->
                                        <!--begin::Action-->
                                        <div>
                                            <button type="button" class="btn btn-light font-weight-bolder font-size-sm py-2">Book Now</button>
                                        </div>
                                        <!--end::Action-->
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Item-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 17-->
                    <!--begin::List Widget 21-->
                    <div class="card card-custom gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column mb-5">
                                <span class="card-label font-weight-bolder text-dark mb-1">Recent Products</span>
                                <span class="text-muted mt-2 font-weight-bold font-size-sm">New Arrivals</span>
                            </h3>
                            <div class="card-toolbar">
                                <div class="dropdown dropdown-inline">
                                    <a href="#" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ki ki-bold-more-hor"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul class="navi navi-hover">
                                            <li class="navi-header font-weight-bold py-4">
                                                <span class="font-size-lg">Choose Label:</span>
                                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                                            </li>
                                            <li class="navi-separator mb-3 opacity-70"></li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-success">Customer</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-danger">Partner</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-primary">Member</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-dark">Staff</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-separator mt-3 opacity-70"></li>
                                            <li class="navi-footer py-4">
                                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                                    <i class="ki ki-plus icon-sm"></i>Add new
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2">
                            <!--begin::Item-->
                            <div class="d-flex mb-8">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="d-flex flex-column">
                                        <div class="symbol-label mb-3" style="background-image: url('assets/media/stock-600x400/img-23.jpg')"></div>
                                        <a href="#" class="btn btn-light-primary font-weight-bolder py-2 font-size-sm">Edit</a>
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Title-->
                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-2">Darius the Great</a>
                                    <span class="text-muted font-weight-bold font-size-sm mb-3">All it takes tank credibility is one glaring error</span>
                                    <span class="text-muted font-weight-bold font-size-lg">
                                        Price:
                                        <span class="text-dark-75 font-weight-bolder">99.00$</span>
                                    </span>
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="d-flex flex-column">
                                        <div class="symbol-label mb-3" style="background-image: url('assets/media/stock-600x400/img-25.jpg')"></div>
                                        <a href="#" class="btn btn-light-primary font-weight-bolder py-2 font-size-sm">Edit</a>
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Title-->
                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-2">Nike Airmax</a>
                                    <span class="text-muted font-weight-bold font-size-sm mb-3">All it takes tank credibility is one glaring error</span>
                                    <span class="text-muted font-weight-bold font-size-lg">
                                        Price:
                                        <span class="text-dark-75 font-weight-bolder">99.00$</span>
                                    </span>
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 21-->
                </div>
                <!--end::Aside-->
                <!--begin::Layout-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Section-->
                    <div class="card card-custom card-transparent">
                        <div class="card-body p-0">
                            <!--begin: Wizard-->
                            <div class="wizard wizard-4" data-wizard-state="step-first" data-wizard-clickable="false">
                                <!--begin: Wizard Nav-->
                                <div class="wizard-nav">
                                    <div class="wizard-steps" data-total-steps="3">
                                        <!--begin::Wizard Step 1 Nav-->
                                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(step1 ? "current": "")">
                                            <div class="wizard-wrapper d-flex">
                                                <div class="wizard-number">1</div>
                                                <div class="wizard-label">
                                                    <div class="wizard-title">Địa chỉ giao hàng</div>
                                                    <div class="wizard-desc">Thiết lập địa chỉ</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Wizard Step 1 Nav-->
                                        <!--begin::Wizard Step 2 Nav-->
                                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(step2 ? "current": "")">
                                            <div class="wizard-wrapper">
                                                <div class="wizard-number">2</div>
                                                <div class="wizard-label">
                                                    <div class="wizard-title">Thanh toán</div>
                                                    <div class="wizard-desc">Hình thức thanh toán</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Wizard Step 2 Nav-->
                                        <!--begin::Wizard Step 3 Nav-->
                                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="@(step3 ? "current": "")">
                                            <div class="wizard-wrapper">
                                                <div class="wizard-number">3</div>
                                                <div class="wizard-label">
                                                    <div class="wizard-title">Thanh toán</div>
                                                    <div class="wizard-desc">Xem và xác nhận</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Wizard Step 3 Nav-->
                                    </div>
                                </div>
                                <!--end: Wizard Nav-->
                                <!--begin: Wizard Body-->
                                <div class="card card-custom card-shadowless rounded-top-0">
                                    <div class="card-body p-0">
                                        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                            <div class="col-xl-12 col-xxl-7">
                                                <!--begin: Wizard Form-->
                                                <EditForm Model="Request" OnValidSubmit="CreateOrder">
                                                    <DataAnnotationsValidator></DataAnnotationsValidator>
                                                    <div class="form mt-0 mt-lg-10">
                                                        @if (step1)
                                                        {
                                                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="@(step1 ? "current": "")">
                                                                <h4 class="mb-10 font-weight-bold text-dark">Nhập thông tin của bạn</h4>
                                                                <div class="form-group">
                                                                    <label>Địa chỉ 1:</label>
                                                                    <InputText type="text" class="form-control form-control-solid form-control-lg"
                                                                               placeholder="Nhập vào đây" @bind-Value="Request.ShipAddress"></InputText>
                                                                    <span class="form-text text-muted">Nhập địa chỉ của bạn.</span>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Người nhận: </label>
                                                                            <InputText type="text" class="form-control form-control-solid form-control-lg"
                                                                                       placeholder="Nhập vào đây" @bind-Value="Request.ShipName"></InputText>
                                                                            <span class="form-text text-muted">Nhập tên người nhận.</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Số điện thoại</label>
                                                                            <InputText type="text" class="form-control form-control-solid form-control-lg"
                                                                                       placeholder="phone" @bind-Value="Request.ShipPhone"></InputText>
                                                                            <span class="form-text text-muted">Nhập số điện thoại.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (step2)
                                                        {
                                                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="@(step2 ? "current": "")">
                                                                <h4 class="mb-10 font-weight-bold text-dark">Enter your Payment Details</h4>
                                                                <div class="row">
                                                                    <div class="col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Name on Card</label>
                                                                            <input type="text" class="form-control form-control-solid form-control-lg" name="ccname" placeholder="Card Name" value="John Wick" />
                                                                            <span class="form-text text-muted">Please enter your Card Name.</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-6">
                                                                        <div class="form-group">
                                                                            <label>Card Number</label>
                                                                            <input type="text" class="form-control form-control-solid form-control-lg" name="ccnumber" placeholder="Card Number" value="4444 3333 2222 1111" />
                                                                            <span class="form-text text-muted">Please enter your Address.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-4">
                                                                        <div class="form-group">
                                                                            <label>Card Expiry Month</label>
                                                                            <input type="number" class="form-control form-control-solid form-control-lg" name="ccmonth" placeholder="Card Expiry Month" value="01" />
                                                                            <span class="form-text text-muted">Please enter your Card Expiry Month.</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-4">
                                                                        <div class="form-group">
                                                                            <label>Card Expiry Year</label>
                                                                            <input type="number" class="form-control form-control-solid form-control-lg" name="ccyear" placeholder="Card Expire Year" value="21" />
                                                                            <span class="form-text text-muted">Please enter your Card Expiry Year.</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-4">
                                                                        <div class="form-group">
                                                                            <label>Card CVV Number</label>
                                                                            <input type="password" class="form-control form-control-solid form-control-lg" name="cccvv" placeholder="Card CVV Number" value="123" />
                                                                            <span class="form-text text-muted">Please enter your Card CVV Number.</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (step3)
                                                        {
                                                            <!--begin: Wizard Step 3-->
                                                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="@(step3 ? "current": "")">
                                                                <!--begin::Section-->
                                                                <h4 class="mb-10 font-weight-bold text-dark">Xác nhận thông tin và đặt hàng</h4>
                                                                <h6 class="font-weight-bolder mb-3">Thông tin địa chỉ gửi hàng:</h6>
                                                                <div class="text-dark-50 line-height-lg">
                                                                    <div>@Request.ShipAddress</div>
                                                                    <div>@Request.ShipName</div>
                                                                    <div>@Request.ShipPhone</div>
                                                                </div>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <!--end::Section-->
                                                                <!--begin::Section-->
                                                                <h6 class="font-weight-bolder mb-3">Chi tiết sản phẩm:</h6>
                                                                <div class="text-dark-50 line-height-lg">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="pl-0 font-weight-bold text-muted text-uppercase">Sản phẩm</th>
                                                                                    <th class="text-right font-weight-bold text-muted text-uppercase">Số lượng</th>
                                                                                    <th class="text-right font-weight-bold text-muted text-uppercase">Giá</th>
                                                                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Tổng</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Carts != null)
                                                                                {
                                                                                    decimal total = 0;
                                                                                    foreach (var item in Carts)
                                                                                    {
                                                                                        <tr class="font-weight-boldest border-bottom-0">
                                                                                            <td class="border-top-0 pl-0 pt-7 d-flex align-items-center">
                                                                                                <!--begin::Symbol-->
                                                                                                <div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
                                                                                                    <div class="symbol-label" style="background: url('@item.ImagePath') no-repeat round"></div>
                                                                                                </div>
                                                                                                <!--end::Symbol-->
                                                                                                @item.Name
                                                                                            </td>
                                                                                            <td class="border-top-0 text-right pt-7 align-middle">@item.Quantity</td>
                                                                                            <td class="border-top-0 text-right pt-7 align-middle">@item.Price</td>
                                                                                            <td class="text-primary border-top-0 pr-0 pt-7 text-right align-middle">@item.SubTotal.ToString("c")</td>
                                                                                        </tr>
                                                                                        total += item.SubTotal;
                                                                                    }
                                                                                    <tr>
                                                                                        <td colspan="3" class="font-weight-bolder text-right">Tổng tiền sản phẩm</td>
                                                                                        <td class="font-weight-bolder text-right pr-0">@total.ToString("c")</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="3" class="border-0 pt-0 font-weight-bolder text-right">Phí vận chuyển</td>
                                                                                        <td class="border-0 pt-0 font-weight-bolder text-right pr-0">$15.00</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="3" class="border-0 pt-0 font-weight-bolder font-size-h5 text-right">Tổng thanh toán</td>
                                                                                        <td class="border-0 pt-0 font-weight-bolder font-size-h5 text-success text-right pr-0">@((total+15).ToString("c"))</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="separator separator-dashed my-5"></div>
                                                                <!--end::Section-->
                                                                <!--begin::Section-->
                                                                <h6 class="font-weight-bolder mb-3">Dịch vụ giao hàng:</h6>
                                                                <div class="text-dark-50 line-height-lg">
                                                                    <div>GHN</div>
                                                                    <div>Thời gian nhận hàng: 8:00AM - 17:00PM</div>
                                                                </div>
                                                                <!--end::Section-->
                                                            </div>
                                                            <!--end: Wizard Step 3-->
                                                        }

                                                        <!--begin: Wizard Actions-->
                                                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                                            @if (step2 || step3)
                                                            {
                                                                <div class="mr-2">
                                                                    <button type="button"
                                                                            class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                                                                            @onclick="HandlePrevius">
                                                                        Quay lại
                                                                    </button>
                                                                </div>
                                                            }
                                                            <div>
                                                                @if (step1 || step2)
                                                                {
                                                                    <button type="button"
                                                                            class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4"
                                                                            @onclick="HandleNext">
                                                                        Tiếp tục
                                                                    </button>
                                                                }
                                                                @if (step3)
                                                                {
                                                                    <button type="submit"
                                                                            class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">
                                                                        Xác nhận
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                        <!--end: Wizard Actions-->
                                                    </div>
                                                </EditForm>
                                                <!--end: Wizard Form-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Wizard Bpdy-->
                            </div>
                            <!--end: Wizard-->
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Page Layout-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICartApiClient CartApiClient
@inject IOrderApiClient OrderApiClient
@inject IUserApiClient UserApiClient
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@attribute [Authorize]

@code {
    private bool step1 = true, step2 = false, step3 = false;
    private void HandleNext()
    {
        if (step1)
        {
            if(string.IsNullOrEmpty(Request.ShipAddress) || string.IsNullOrEmpty(Request.ShipName) || string.IsNullOrEmpty(Request.ShipPhone))
            {
                ToastService.ShowWarning("Nhập đầy đủ thông tin", "Yêu cầu");
                return;
            }
            step2 = true;
            step1 = false;
            step3 = false;
        }
        else
        {
            step1 = false;
            step2 = false;
            step3 = true;
        }
        StateHasChanged();
    }
    private void HandlePrevius()
    {
        if (step3)
        {
            step1 = false;
            step2 = true;
            step3 = false;
        }
        else
        {
            step1 = true;
            step2 = false;
            step3 = false;
        }
        StateHasChanged();
    }
    public IEnumerable<CartVm> Carts { get; set; }
    private AuthenticationState authState;
    private string userName;
    public OrderRequest Request { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Request = new OrderRequest();
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = authState.User.Identity.Name.ToString();
        Carts = await CartApiClient.GetByUserName(userName);
        var user = await UserApiClient.GetByUserName(userName);
        Request.UserId = user.Id;
        Request.ShipName = user.FirstName + " " + user.LastName;
        Request.ShipPhone = user.PhoneNumber;
        Request.ShipAddress = user.Address;
    }

    private async void CreateOrder(EditContext context)
    {
        var result = await OrderApiClient.Create(Request);
        if (result)
        {
            ToastService.ShowSuccess("Đặt hàng thành công", "Thông báo");
            NavigationManager.NavigateTo("/");
        }
        else
        {
            ToastService.ShowError("Đặt hàng thất bại", "Thông báo");
        }
    }
}
