@switch (OrderStatus)
{
    case OrderStatus.InProgress:
        <span class="badge badge-primary">@nameof(OrderStatus.InProgress) &gt</span>
        break;
    case OrderStatus.Confirmed:
        <span class="badge badge-info">@nameof(OrderStatus.Confirmed) &gt</span>
        break;
    case OrderStatus.Shipping:
        <span class="badge badge-warning">@nameof(OrderStatus.Shipping) &gt</span>
        break;
    case OrderStatus.Success:
        <span class="badge badge-success">@nameof(OrderStatus.Success) &gt</span>
        break;
    case OrderStatus.Canceled:
        <span class="badge badge-danger">@nameof(OrderStatus.Canceled) &gt</span>
        break;
}

@code {
    [Parameter]
    public OrderStatus OrderStatus { get; set; }
}
